/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* body */

body {
  font-family: 'Inter', sans-serif;
}
/* navbar */

.navbar {
  background: rgb(125, 155, 163);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1em;
}

/* card container */
.card-container {
  max-width: 800px;
  display: flex;
  margin: 0 auto;
  padding: 40px 40px;
  /* border: 1px solid red; */
  justify-content: space-evenly;
  border-bottom: 1px solid grey;
}

/* img */
.card-img {
  height: 400px;
  max-width: 400px;
  border-radius: 10px 10px;
}

/* trip details */

.trip > h3 {
  font-weight: 600;
  font-size: 2.1rem;
}

.trip-details {
  max-width: 400px;
  letter-spacing: 1.4px;
}

.trip-details > span {
  font-weight: bolder;
}

.location-details > span {
  margin-right: 20px;
  text-transform: uppercase;
}

.location-details > a, .location-details > span {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

.location-details > a:hover {
  font-size: 1.2rem;
}